<script src="#URL#/public/js/cep.js"></script>
<script src="#URL#/public/js/jquery.validate.min.js"></script>
<script src="#URL#/public/js/additional-methods.min.js"></script>
<script src="#URL#/public/js/localization/messages_pt_BR.min.js"></script>
<script src="#URL#/public/js/jquery.mask.min.js"></script>
<script src="#URL#/public/js/rules.js"></script>
<script src="#URL#/public/js/addPhone.js"></script>
<h3>#TITULO#</h3>
<hr>
<form name="frmCadUsuario" method="post" id="frmCadUsuario" action="#URL#/Client/update">
    <fieldset>
        <input type="hidden" id="idClient" name="id" value="#ID#">
        <input type="hidden" id="idAddress" name="idAddress" value="#IDADDRESS#">
        <div class="form-group">
            <div class="col-lg-10">
                <label>Nome</label>
                <input type="text" maxlength="50" class="form-control" name="name" id="name" value="#NAME#">
            </div>
            
            <div class="col-lg-5">
                <label>Sexo</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="sex" id="optionsRadios1" value="M" #CHECKEDMALE#>Masculino
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="sex" id="optionsRadios2" value="F" #CHECKEDFEMALE#>Feminino
                    </label>
                </div>
            </div>
            <div class="col-lg-10">
                <label>RG</label>
                <input type="text" maxlength="20" class="form-control" name="rg" id="rg" value="#RG#">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4">
                <label>CPF</label>
                <input type="text" maxlength="20" class="form-control" name="cpf" id="cpf" value="#CPF#">
            </div>

            <div class="col-lg-5 mb-4">
                    <label>Telefone</label>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dynamic_field">
                            <tr>
                                #PHONE#
                                
                            </tr>
                        </table>
                    </div>
                </div>
            
            <div class="col-lg-4">
                <label>CEP</label>
                <input type="text" class="form-control" name="cep" id="cep" value="#CEP#">
            </div>
            <div class="col-lg-4">
                <label>Rua</label>
                <input maxlength="100" type="text" class="form-control" name="street" id="street" value="#STREET#">
            </div>
            <div class="col-lg-4">
                <label>Número</label>
                <input maxlength="10" type="text" class="form-control" name="number" id="number" value="#NUMBER#">
            </div>
            <div class="col-lg-4">
                <label>Complemento</label>
                <input maxlength="100" type="text" class="form-control" name="complement" id="complement" value="#COMPLEMENT#">
            </div>
            <div class="col-lg-4">
                <label>Bairro</label>
                <input maxlength="100" type="text" class="form-control" name="neighborhood" id="neighborhood" value="#NEIGHBORHOOD#">
            </div>
            <div class="col-lg-4">
                <label>Cidade</label>
                <input maxlength="100" type="text" class="form-control" name="city" id="city" value="#CITY#">
            </div>
            <div class="col-lg-4 mt-2">
                <label>Estado</label>
                <select id="state" name="state" class="form-control">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Salvar</button>
            <a href="#URL#/Client" class="btn btn-danger">Cancelar</a>
        </div>
    </fieldset>
</form>