<h2>Clientes Cadastrados</h2>
<hr>
<a href="#URL#/Client/newClient" class="btn btn-primary mb-3">Novo Cliente</a>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>RG</th>
            <th>Ações</th>
        </tr>
            #GRID#
    </table>
</div>
